body{
    background-color:beige;
    font-family: verdana;
    width: 700px;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

#title, #subtitle, #post{
    color: black;
}

#post{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: white;
    padding: 10px;
    border: 3px solid #000;
    margin: 20px;
}

.texto{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.lula{
    margin-bottom: 15px;
    border-radius: 5px;
}

.eu{
    border-radius: 50%;
}

a {
    text-decoration: line-through;
    color: red;
}

.lista{
    list-style-type: square;
}

.lista li{

}